* {
  margin: 0px;
  padding: 0px;
  border: 1px solid gray;
}


/*formações gerais*/

header {
  background-color: yellow;
}

main {
  background-color: lightblue;
}

footer {
  background-color: black;
  color: white;
}

img {
  width: 30px;
  height: 30px;
}


/*para formatar inputs e imagens utilizar seletores por atributo*/

body>header {
  display: none;
}

body>footer {
  display: none;
}

#logotypeContainer {
  background-color: lightgreen;
}

#inputContainer {
  background-color: lightpink;
}

#btnAreaContainer {
  background-color: lightskyblue;
}


/*Flexbox*/

#root {
  background-color: slateblue;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageContainer {
  max-width: 300px;
  margin: auto;
}